<div>
<h2><%= "Logged in as: #{@current_user ? @current_user.name : 'none'}" %> </h2>
  <% @users.each do |user| %>
    <%= link_to user do %>
    <%= render partial: 'users/cards/info', locals: { user: user } %>
    <% end %>
  <% end %>
</div>