<div class="bio-card">
  <h2>Bio</h2>
  <p>
    <%= user.bio %>
  </p>

  <div>
    <button class='Add-comment'>
      <%= link_to 'Add a new Post', new_user_post_path(user) %>
    </button>
  </div>
  
</div>