

<div class="profile_img_info">         
      <div class="img">
        <%= image_tag "1.jpg", alt: user.name %>
      </div>
      <div class="info">
          <p class="name"><%= user.name %></p>
          <p class="place"><span><i class="fas fa-map-marker-alt"></i></span>
            Number of posts: <%= user.posts_counter %>
          </p>
      </div>
</div>